
img{
    vertical-align: middle;
}

.wrap {
    width: 100%;
    height: 100%;
    font-size: 24px;
}

/* share use start */
.info_box {
    width: 100%;
    padding-top: 40px;
}

.news .info_box{
    padding-top: 80px;
    padding-bottom: 40px;
}
.school .info_box,
.about .info_box{
    padding-bottom: 70px;
}
.edt_link .info_box{
    padding-top: 70px;
    padding-bottom: 70px;
}

.orange_gradient_bg {background: linear-gradient(90deg, #EF7E00 14.58%, #FFC07A 100%);}

.brown_gradient_bg { background: linear-gradient(90deg, #7D4A17 14.58%, #C68236 100%);}

.green_gradient_bg { background: linear-gradient(90deg, #1E8E57 40.1%, #A7D395 100%);}

/* share use end*/
.header {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.logo {
    width: 185px;
    height: 70px;
    background: #000;
}
.menu{
    height: 100%;
    line-height: 90px;
}
.menu ul {
    display: flex;
    font-size: 20px;
}
.menu li{
    position: relative;
    color: #2C2C2C;
    transition-duration: .3s;
    font-weight: 700;
}
.menu li+li{
    margin-left: 60px;
}
.menu li::before,
.menu li::after{
    content:'';
    position: absolute;
    width: 50%;
    height: 2px;
    background: #EF7E00;
    top: 80%;
    transition-duration: .3s;
}
.menu li::before{          
    left: 50%;
}
.menu li::after{
    right: 50%;
}
.menu li:hover{
    color: #EF7E00;
    cursor: pointer;
}
.menu li:hover::before,
.menu li:hover::after{
    width: 0;
}
.banner {
    width: 100%;
    height: 500px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.date_block ul{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.date_num{
    color: #EF7E00;
    font-size: 64px;
    padding: 15px;
}
.title {
    width: 100%;
    height: 110px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 2px #000;
}


.flyer_txt {
    width: 100%;
    height: 25px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500px;
}

.flyer_box {
    max-width: 510px;
    overflow: hidden;
    margin: auto;
}

.flyer_group {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    transition-duration: .3s;
}
.flyer_item{
    display: none;
}
.flyer_item.on{
    display: block;
}

.flyer_group img {
    vertical-align: middle;
}

.flyer_menu {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 138px;
    background: #FFB057;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 65px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.flyer_menu_box {
    width: 100%;
    overflow: hidden;
}
.flyer_menu_box li{
    position: relative;
    cursor: pointer;
}
.flyer_menu_box li span{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    pointer-events: none;
}

.flyer_menu li img {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}
.flyer_menu_box span.on{
    background: rgba(0,0,0,0);
}
.flyer_menu ul {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    transition-duration: .3s;
}


.flyer_menu li {
    position: relative;
    flex: none;
    width: 90px;
    height: 90px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.flyer_menu button {
    width: 15px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}

.flyer_prev {
    left: 20px;
    background: url('./images/icon_prev.svg')no-repeat center/cover;
}

.flyer_next {
    right: 20px;
    background: url('./images/icon_next.svg')no-repeat center/cover;
}
.flyer_pic{
    position: relative;
}

.leaderboard_box{
    width: 100%;
    max-width: 1430px;
    overflow: hidden;
    margin: auto;
}
.leaderboard_box .pic{
    display: flex;
    width: 100%;
    padding: 40px 0; 
}

.leaderboard_box .pic li{
    flex: 0 0 auto;
    width: 226px;
    margin: 0 30px;
}
.leaderboard_box li img{
    width: 100%;
}
.leaderboard_box .dots{
    display: flex;
    width: 100%;
    padding-bottom: 40px;
    justify-content: center;
}
.leaderboard_box .dots li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #FFB057;
    margin: 0 5px;
}
.leaderboard_box .dots .on{
    background: #FFB057;
}

.school_name ul{
    display: flex;
}
.school_name li{
    position: relative;
    padding: 2px 80px 2px 40px ;
}
.school_name li::after{
    content:'\25BA';
    position: absolute;
    left: 80%;
    width: 18px;
    height: 18px;
    font-size: 16px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: #FFB057;
}
.school_name li+li{
    border-left: 2px solid #C4C4C4;;
}



.footer {
    width: 100%;
    background: linear-gradient(106.56deg, #7D4A17 0%, #C68236 100%);
    padding: 40px 80px;
}