<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="wrap" id="app">
        <div class="header">
            <div class="logo"></div>
            <div class="menu">
                <ul>
                    <li>最新課程</li>
                    <li>曙光金榜</li>
                    <li>分校介紹</li>
                    <li>影音專區</li>
                    <li>最新消息</li>
                    <li>關於曙光</li>
                    <li>教育單位連結</li>
                    <li>聯絡我們</li>
                </ul>
            </div>
        </div>
        <div class="banner">
            暫時區塊
        </div>
        <div class="date_block">
            <ul>
                <li>
                    創立<span class="date_num">00</span>年
                </li>
                <li>
                    分校<span class="date_num">00</span>所
                </li>
                <li>
                    第一志願<span class="date_num">0000</span>人
                </li>
                <li>
                    國中教育會考<span class="date_num">0000</span>天
                </li>
                <li>
                    高中學測<span class="date_num">000</span>天
                </li>
                <li>
                    高中指考<span class="date_num">000</span>天
                </li>
            </ul>
        </div>
        <div class="new_class">
            <div class="title orange_gradient_bg">
                最新課程
            </div>
            <div class="info_box">
                <div class="flyer_box">
                    <div class="flyer_group">
                        <div class="flyer_item" :class="{on : item.isActive}" v-for="item in flyer_data.flyer_menu">
                            <div class="flyer_txt">{{item.flyer_name}}</div>
                            <div class="flyer_pic">
                                <img :src="item.flyer_src" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flyer_menu">
                    <button class="flyer_prev"  @click="flyer_prev" v-if="flyer_data.flyer_menu.length > 9"></button>
                    <div class="flyer_menu_box">
                        <ul :style="flyer_data.flyer_menu_move">
                            <li v-for="(item , index) in flyer_data.flyer_menu">
                                <img :src="item.flyer_src" alt="" @click="imgHandler(index)">
                                <span :class="{on : item.isActive}"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="flyer_next" @click="flyer_next" v-if="flyer_data.flyer_menu.length > 9"></button>
                </div>
            </div>

        </div>
        <div class="leaderboard">
            <div class="title brown_gradient_bg">
                曙光金榜
            </div>
            <div class="info_box">
                <div class="leaderboard_box">
                    <ul>
                        <li>
                            <img src="./images/leaderboard/1.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/leaderboard/2.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/leaderboard/3.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/leaderboard/4.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/leaderboard/5.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/leaderboard/5.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="leaderboard_menu">

                </div>
            </div>

        </div>
        <div class="school">
            <div class="title orange_gradient_bg">
                分校介紹
            </div>
        </div>
        <div class="video">
            <div class="title green_gradient_bg">
                影音專區
            </div>
        </div>
        <div class="news">
            <div class="title brown_gradient_bg">
                最新消息
            </div>

        </div>
        <div class="about">
            <div class="title orange_gradient_bg">
                關於曙光
            </div>
        </div>
        <div class="edt_link">
            <div class="title green_gradient_bg">
                教育單位連結
            </div>
        </div>
        <div class="footer">
            Footer
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js'></script>
    <script>
        let data = {
            flyer_data: {
                flyer_menu: [
                    {
                        flyer_id: 1,
                        flyer_name: "居仁國小",
                        flyer_src: "./images/flyer/01.jpg",
                        isActive:true,
                        
                    },
                    {
                        flyer_id: 2,
                        flyer_name: "居仁國中",
                        flyer_src: "./images/flyer/02.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 1,
                        flyer_name: "居仁國小",
                        flyer_src: "./images/flyer/01.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 2,
                        flyer_name: "居仁國中",
                        flyer_src: "./images/flyer/02.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 1,
                        flyer_name: "居仁國小",
                        flyer_src: "./images/flyer/01.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 2,
                        flyer_name: "居仁國中",
                        flyer_src: "./images/flyer/02.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 1,
                        flyer_name: "居仁國小",
                        flyer_src: "./images/flyer/01.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 2,
                        flyer_name: "居仁國中",
                        flyer_src: "./images/flyer/02.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 1,
                        flyer_name: "居仁國小",
                        flyer_src: "./images/flyer/01.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 2,
                        flyer_name: "居仁國中",
                        flyer_src: "./images/flyer/02.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 1,
                        flyer_name: "居仁國小",
                        flyer_src: "./images/flyer/01.jpg",
                        isActive:false,
                        
                    },
                    {
                        flyer_id: 2,
                        flyer_name: "居仁國中",
                        flyer_src: "./images/flyer/02.jpg",
                        isActive:false,
                        
                    },
                ],
                flyer_menu_start:0,
                flyer_menu_end:0,
                flyer_now_pic: 0,
                flyer_menu_move: "",
                flex_moveX: 0 ,
            }
        }
        let vm = new Vue({
            el: "#app",
            data: data,
            mounted() {
                if(this.flyer_data.flyer_menu.length > 9){
                    this.flyer_data.flex_moveX = 55 * (this.flyer_data.flyer_menu.length - 9)
                    this.flyer_data.flyer_menu_start = this.flyer_data.flex_moveX
                    this.flyer_data.flyer_menu_end = this.flyer_data.flex_moveX * - 1
                    this.flyer_data.flyer_menu_move = "transform: translateX(" + this.flyer_data.flex_moveX + "px);";
                }
            },
            methods: {
            flyer_next() {
                if( this.flyer_data.flyer_menu_end == this.flyer_data.flex_moveX) return
                this.flyer_data.flex_moveX -= 110
                this.flyer_data.flyer_menu_move = "transform: translateX(" + this.flyer_data.flex_moveX + "px);";
                
            },
            flyer_prev() {
                if( this.flyer_data.flyer_menu_start == this.flyer_data.flex_moveX) return
                this.flyer_data.flex_moveX += 110
                this.flyer_data.flyer_menu_move = "transform: translateX(" + this.flyer_data.flex_moveX + "px);";
                
            },
            imgHandler(index){
                if(this.flyer_data.flyer_now_pic == index) return
                this.flyer_data.flyer_menu[this.flyer_data.flyer_now_pic].isActive = false
                this.flyer_data.flyer_now_pic = index
                this.flyer_data.flyer_menu[index].isActive = true
            }
           
        }
        })
    </script>
</body>

</html>