@mixin flex_c_c{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin w1440px {
    @media screen and (max-width: 1440px){
        @content;
    }
}
@mixin w1280px {
    @media screen and (max-width: 1280px){
        @content;
    }
}
@mixin w1024px {
    @media screen and (max-width: 1024px){
        @content;
    }
}
@mixin w768px {
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin w576px {
    @media screen and (max-width: 576px){
        @content;
    }
}
@mixin absolute($top , $right , $bottom , $left){
    position : absolute;
    top : $top;
    right :$right;
    bottom : $bottom;
    left : $left;
}

@mixin hoverHandler{
    @media (pointer: fine),
    (-moz-touch-enabled:0),
    screen and (-ms-hight-contrast: active),
    (-ms-high-contrast: none){
        @content;
    }
}

@mixin aniHandler{
    .active_item{
        visibility: hidden;
        opacity: 0;
    }
    &.active{
        >.active_item,
        ~.active_item{
            visibility: visible;
            opacity: 1;
        }
    }
}


.aaa{
    @include aniHandler();
}