@import "varibles";
@import "mixin";
@import "animate";
.word_orange{color: $primary_color;}
.jc_start{justify-content: flex-start !important;}
.unscroll{overflow: hidden;}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 20px;
	overflow: hidden;
}
.mod_dots{
	display: flex;
	width: 100%;
	justify-content: center;
	li{
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 2px solid #FFB057;
		margin: 0 5px;
		line-height: 1;
	}
	.on{
		background: #FFB057;
	}
}
.scroll_menu{
	position: relative;
	width: 100%;
	max-width: 1100px;
	height: 110px;
	background: #FFB057;
	margin: auto;
	@include flex_c_c;
	padding: 0 60px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	@include w1280px{
		max-width: 700px;
	}
	@include w768px{
		display: none;
	}
	&_box{
		width: 100%;
		overflow: hidden;
		ul{
			position: relative;
			display: flex;
			width: 100%;
			justify-content: center;
			transition-duration: .3s;
		}
		li{
			cursor: pointer;
			position: relative;
			flex: none;
			width: 80px;
			height: 80px;
			margin: 10px;
			overflow: hidden;
			border-radius: 10px;
			>img {
				position: absolute;
				width: 100%;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		li.on{
			span{
				background: rgba(0,0,0,0);
			}
		}
		span{
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0,.7);
		}
	}

	&._video{
		background: #1E8E57;
		li{
			width: 110px;
			height: 62px;
			margin: 0 6.25px;
			@include w1280px{
				margin: 0 3px;
			}
		}


	}
}
.prev_btn {
	display: none;
	width: 15px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	cursor: pointer;
	left: 20px;
	background: url('../../images/icon_prev.svg')no-repeat center/cover;
}
.next_btn {
	display: none;
	width: 15px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	cursor: pointer;
	right: 20px;
	background: url('../../images/icon_next.svg')no-repeat center/cover;
}
@include w768px{
	.br_768{
		display: block;
	}
}
.info_box {
	width: 100%;
	height: 100%;
	padding-top: 25px;
}

.news .info_box{
	padding-top: 80px;
	padding-bottom: 40px;
	@include w768px{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.about .info_box{
	padding-left: 130px;
	padding-bottom: 70px;
	@include w1440px{
		padding-left: 60px;
	}
}
.school .info_box{
	padding-bottom: 70px;
}
.edu_link .info_box{
	padding-top: 70px;
	padding-bottom: 70px;
}
.orange_gradient_bg {background: linear-gradient(90deg, $primary_color 14.58%, #FFC07A 100%);}

.brown_gradient_bg { background: linear-gradient(90deg, #7D4A17 14.58%, #C68236 100%);}

.green_gradient_bg { background: linear-gradient(90deg, #1E8E57 40.1%, #A7D395 100%);}

.title {
	position: relative;
	width: 100%;
	height: 80px;
	color: $whtie;
	display: flex;
	align-items: center;
	font-size: 45px;
	font-weight: bold;
	@include flex_c_c;
	text-shadow: 0 4px 4px rgba(0,0,0,.25);
	&:before{
		content:'';
		width: 44px;
		height: 44px;
		margin-right: 8px;
		background: url('../../images/icon_flyer.png')no-repeat center/cover;
	}
}
.header {
	position: relative;
	display: flex;
	width: 100%;
	height: 70px;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #fff;
	z-index: 10;
	.logo {
		position: relative;
		width: 185px;
		height: 50px;
		background: url('../../images/logo.png')no-repeat center/contain;
		text-indent: 101%;
		white-space: nowrap;
		overflow: hidden;
		a{
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	.menu_btn{
		display: none;
		position: relative;
		width: 50px;
		height: 40px;
	}
	.menu_btn::before{
		content:'';
		position: absolute;
		top: 0;
		width: 100%;
		height: 4px;
		background: #000;
		box-shadow: 0 19px 0 #000;
		border-radius: 50px;
		transition-duration: .3s;
	}
	.active.menu_btn::before{
		box-shadow: none;
		transform: rotate(45deg);
		bottom: 0;
		margin: auto;
	}
	.menu_btn::after{
		content:'';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 4px;
		background: #000;
		border-radius: 50px;
		transition-duration: .3s;
	}
	.active.menu_btn::after{
		transform: rotate(-45deg);
		top: 0;
		margin: auto;
	}
	.menu{
		height: 100%;
		line-height: 90px;
		ul {
			display: flex;
			font-size: 20px;
			height: 100%;
		}
		li{
			position: relative;
			
			display: flex;
			align-items: center;
			a{
				position: relative;
				font-weight: 700;
				color: #2C2C2C;
				transition-duration: .3s;
			}
		}
		a::before,
		a::after{
			content:'';
			position: absolute;
			width: 50%;
			height: 1px;
			background: $primary_color;
			top: 73%;
			transition-duration: .3s;
		}
		a::before{
			left: 50%;
		}
		a::after{
			right: 50%;
		}
		a:hover{
			color: $primary_color;
			cursor: pointer;
		}
		a:hover::before,
		a:hover::after{
			width: 0;
		}
		li+li{
			margin-left: 60px;
		}
	}
	@include w1440px{
		padding: 0 25px;
		.menu{
			li{
				font-size: 16px;
			}
			li+li{
				margin-left: 30px;
			}
		}
	}
	@include w1024px{
		.menu{
			width: 100%;
			// height: calc(100% - 90px);
			height: 100vh;
			max-width: 375px;
			position: absolute;
			background: $primary_color;
			z-index: 2;
			right: -100%;
			top: 70px;
			transition-duration: .3s;
		}
		.active + .menu{
			right: 0;
		}
		.menu ul{
			flex-wrap: wrap;
		}
		.menu li{
			width: 100%;
			color: #fff;
			justify-content: center;
		}
		.menu li:hover{
			color: #fff;
		}
		.menu li+li{
			margin-left: 0;
		}
		.menu_btn{
			display: block;
		}
	}
	@include w768px{
		.logo{
			width: 85px;
			height: 30px;
		}
		.menu_btn{
			width: 25px;
			height: 25px;
		}
		.menu_btn:before{
			height: 2px;
			box-shadow: 0 12px 0 #000;
		}
		.menu_btn:after{
			height: 2px;
		}
	}
}
.scroll_box{
	width: 100%;
	height: calc(100% - 70px);
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;

}
.banner {
	position: relative;
	width: 100%;
	height: calc( 100vh - 70px);
	background: url('../../images/banner_bg.jpg')no-repeat center/cover;
	.banner_info{
		@include absolute(80px ,0,0,170px);
		.pic{
			width: 25%;
			max-width: 315px;
		}
	}
	.banner_txt{
		.p1{
			color:#3E3A39;
		}
		.p1,
		.s1{
			font-size: 56px;
			font-weight:700;
		}
		.s2{
			font-size: 112px;
			font-weight: 700;
			color: $primary_color;
			margin-left: 5px;
		}
		.p2{
			font-size: 36px;
			color: #867976;
			letter-spacing: 0.16em;
			margin-top: 5px;
		}
	}
	.banner_scoll{
		@include absolute(auto , 0 , 20% , 0);
		text-align: center;
		margin: 0 auto;
		font-size: 36px;
		color: rgba(255,255,255,.8);
		font-weight: 500;
		letter-spacing: 2px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		// animation-name: scroll ;
		animation-fill-mode: both;
		animation-iteration-count: 1;
		animation-duration: 1.5s;
		animation-play-state: running;
		cursor: default;
		@include hoverHandler{
			&:hover{
				animation-name: scroll ;
			}
		}
		&::after{
			content:'';
			display: block;
			width: 35px;
			height: 21px;
			background: url('../../images/icon_down_w.svg')no-repeat center/contain;
			margin: 20px auto 0;
		}
	}
	@include w1440px{
		.banner_info{
			.pic{
				width: 38%;
			}
		}
		.banner_txt{
			.p1,
			.s1{
				font-size: 50px;
			}
			.p2{
				font-size: 34px;
			}
		}
	}
	@include w1024px{
		.banner_info{
			left: 50px;
		}
		.banner_txt{
			.p1,
			.s1{
				font-size: 40px;
			}
			.s2{
				font-size: 90px;
			}
			.p2{
				font-size: 32px;
			}
		}
	}
	@include w768px{
		.banner_info{
			top: 30px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			.pic{
				margin: auto;
				width: 230px;
			}
		}
		.banner_txt{
			text-align: center;
			.p1{
				margin-top: 22px;
			}
			.p2{
				display: inline-block;
				margin-top: 30px;
				text-align: left;

			}
			.br_768{
				margin-top: 10px;
			}
		}
		.banner_scoll{
			bottom: 30%;
		}
	}
}
.date_block {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 12.5%, rgba(255, 255, 255, 0.9) 34.69%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	ul{
		display: flex;
		justify-content: space-between;
		padding: 10px 50px;
	}
	li{
		position: relative;
		align-items: center;
		display: flex;
		font-size: 20px;
	}
	.br{font-size: 0;}
	.br tt{
		display: block;
		font-size: 20px;
	}
	.icon_clock::before{
		content:'';
		display: block;
		width: 25px;
		height: 25px;
		background: url('../../images/icon_clock.svg')no-repeat center/cover;
		margin-right: 15px;
	}
	.date_num{
		color: $primary_color;
		font-size: 50px;
		padding: 10px;
		display: inline-flex;
		align-items: flex-end;
		&::after{
			content:attr(data-text);
			font-size: 20px;
			color: #000;
			margin-left: 10px;
			margin-bottom: 5px;
		}
	}
	@include w1440px{
		ul{
			padding: 0 35px;
		}
	}
	@include w1280px{
		li{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.date_num{
			width: 100%;
			justify-content: center;
			padding: 0;
		}
		.br tt{
			display: inline-block;
		}
		.icon_clock::before{
			width: 20px;
			height: 20px;
		}
	}
	@include w1024px{
		ul{
			padding: 0 15px;
		}
	}
	@include w768px{
		ul{
			flex-wrap: wrap;
			padding-bottom: 15px;
		}
		li{
			width: calc(100% / 3);
			margin-top: 15px;
			font-size: 12px;

		}
		.icon_clock:before{
			width: 14px;
			height: 14px;
			margin-right: 5px;
		}
		.date_num {
			font-size: 28px;
			line-height: 40px;
			&:after{
				font-size: 12px;
				line-height: 2;
			}
		}
		.br{
			tt{
				font-size: 12px;
			}
		}
	}
}
.flyer{
	width: 100%;
	height: calc(100vh - 70px);
	background: url('../../images/flyer/bg_flyer.png')no-repeat right bottom/contain,
	linear-gradient(90deg, #FFF3E6 -2.34%, #FFFFFF 50.96%, #FFFFFF 98.93%);
	.info_box{
		padding-left: 15px;
		padding-right: 15px;
	}
	.flyer_box {
		max-width: 510px;
		height: calc(100% - 80px - 110px);
		overflow: hidden;
		margin: auto;
	}
	.flyer_group {
		height: 100%;
		display: flex;
		margin-bottom: 40px;
		transition-duration: .3s;
	}

	.flyer_item.on{
		display: block;
	}
	.flyer_pic{
		// 扣掉flyer_txt高度 加上 間距的高度
		height: calc( 100% - 70px);
		text-align: center;
	}
	img{
		width: auto;
		height: 100%;
	}
	.flyer_txt {
		width: 100%;
		max-width: 480px;
		height: 25px;
		font-size: 24px;
		text-align: center;
		font-weight: 500px;
		margin: 0 auto 20px;
	}

	.mod_dots{
		display: none;
	}

	@include w768px{
		.info_box{
			padding: 25px 0 0 0;
		}
		.flyer_box{
			max-width: none;
			height: calc(100% - 80px - 70px);
		}
		.flyer_group{
			margin-bottom: 0;
			align-items: center;
		}
		.flyer_item{
			display: block;
			flex: none;
			height: 100%;
			margin: 0 15px;

			.flyer_pic{
				transform: scale(.9);
			}
			&.active .flyer_pic{
				transform: scale(1);
				transition-duration: .3s;
			}
		}
		.mod_dots{
			display: flex;
			margin-top: 20px;
		}
		img{
			height: 100%;
		}
	}
}

.leaderboard{
	width: 100%;
	// background: url('../../images/leaderboard/bg_leaderboard.jpg')no-repeat center bottom/cover;
	background: url('../../images/leaderboard/bg_leaderboard_l.png')no-repeat center left/contain,
				url('../../images/leaderboard/bg_leaderboard_r.png')no-repeat center right/contain;
	.title::before{
		background-image: url('../../images/icon_leaderboard.png');
	}
	.leaderboard_box{
		width: 100%;
		max-width: 1430px;
		overflow: hidden;
		margin: auto;
		padding-bottom: 40px;

	}
	.leaderboard_pic{
		display: flex;
		width: 100%;
		padding: 40px 0;
		transition-duration: .3s;
		li{
			flex: 0 0 auto;
			width: calc(100% / 5 - 60px);
			margin: 0 30px;
		}
	}

	@include w768px{
		background-size: cover;
		.leaderboard_box{
			ul{
				overflow-x: auto;
				overflow-y: hidden;
			}
			li{
				width: 40%;
				margin:0 0 0 14px;
			}
		}
		.mod_dots{
			display: none;
		}
	}
}

.school{
	overflow: hidden;
	width: 100%;
	background: url('../../images/school/bg_school.jpg')no-repeat right bottom/contain;
	.title::before{
		background-image: url('../../images/icon_school.png');
	}
	.info_box{
		padding-top: 40px;
		padding-left: 130px;
		padding-right: 130px;
		@include w1440px{
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	&_menu{
		margin-bottom: 40px;
		@include w768px{
			margin-bottom: 0;
		}
		>li{
			position: relative;
			padding: 2px 75px 2px 35px ;
			font-size: 20px;
			font-weight: 700;
			border-right: 2px solid #C4C4C4;
			white-space: nowrap;
			&:last-child{
				border-right: none;
			}

			@include w1280px{
				width: calc(100% / 3 - 50px);
				margin: 10px;
				&:nth-child(3){
					border-right:none;
				}
			}
			@include w1024px{
				padding: 2px 40px 2px 20px;
			}
		}
		&_first{
			display: flex;
			flex-wrap: wrap;
			> li{
				position: relative;
				padding: 2px 75px 2px 35px ;
				border-right: 2px solid #C4C4C4;
				white-space: nowrap;
				cursor: pointer;
				@include w1280px{
					width: calc(100% / 3 - 50px);
					margin: 10px;
					padding: 2px 40px 2px 20px;
					text-align: center;
					&:nth-child(3){
						border-right: none;
					}
				}
				@include w768px{
					width: 100%;
					border-right: none;
					text-align: center;
					border-bottom: 1px solid #C4C4C4;
					margin: 0;
					padding: 0;
				}
				&:last-child{
					border-right: none;
				}
				> span{
					position: relative;
					@include w768px{
						display: inline-block;
						padding: 11px 0;
					}
					&:after{
						content:'\25BA';
						position: absolute;
						left: calc(100% + 10px);
						width: 18px;
						height: 18px;
						font-size: 16px;
						top: 0;
						bottom: 0;
						margin: auto 0;
						color: #FFB057;
						transition-duration: .3s;
					}
					&.active:after{
						transform: rotate(90deg);
					}
				}
			}
		}

		&_second{
			position: absolute;
			width: 100%;
			top: calc(100% + 5px);
			left: 0;
			background: rgba(44, 44, 44, 0.7);
			z-index: 1;
			transition-duration: .3s;
			opacity: 0;
			visibility: collapse;
			transform: scale(1, 0);
			transform-origin:0 0;
			transition:all 300ms cubic-bezier(.55,0,.42,1);
			z-index: 2;
			@include w768px{
				position: relative;
				top: 0;
			}
			>li{
				width: 100%;
				border: none;
				color: #fff;
				text-align: center;
				@include w768px{
					height: 0;
					opacity: 0;
					visibility: collapse;
					padding: 0;
				}
				>span{
					padding: 10px 0;
					display: block;
					width: 100%;
				}
			}

			.active ~ &{
				transform: scale(1, 1);
				opacity: 1;
				visibility: visible;

				>li{
					height: 100%;
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&_third{

			>li{
				height: 0;
				opacity: 0;
				visibility: collapse;
				padding: 0;
				transition:all 300ms cubic-bezier(.55,0,.42,1);
			}
			>li:last-child{
				text-align: left;
				width: 100%;
				color:#2C2C2C;
				background: url("../../images/school/bg_school.jpg") no-repeat right bottom/cover;

				div:last-child{
					text-align: right;
				}
			}
			.department{
				display: flex;
				justify-content: center;
				align-items: flex-end;
				background: $primary_color;
				padding: 25px 30px;
				font-size: 30px;
				font-weight: bold;
				&:after{
					content:attr(data-dep);
					font-size: 20px;
					margin-left: 70px;
				}
			}
			.active ~ &{
				@include w768px{
					>li{
						height: 100%;
						opacity: 1;
						visibility: visible;
					}
					>li:last-child{
						padding: 14px 30px 30px;
						div{
							margin-top: 20px;
						}
					}
				}
			}
		}
	}


	&_int{
		position: relative;
	}
	&_pic{
		position: relative;
		padding-bottom: calc(75% * 0.56);
		transition-duration: .3s;
		transform: translateX(-10%);
		opacity: 0;
		.active &{
			transform: translateX(0);
			opacity: 1;
		}
		@include w768px{
			transform: translateX(0);
			opacity: 1;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			height: 100%;
		}
	}
	&_txt_box{
		position: absolute;
		max-width: 535px;
		right: 0;
		bottom: -5%;
		transition-duration: .3s;
		transform: translateX(10%);
		opacity: 0;
		.active &{
			transform: translateX(0);
			opacity: 1;
		}
		@include w768px{
			transform: translateX(0);
			opacity: 1;
		}
		.school_txt{
			color:#fff;
			// height: 148px;
			height: auto;
			background: rgba(239, 126, 0, .7);
			display: block;
			padding: 20px 40px;

			@include w1024px{
				padding: 15px 20px;
			}
		}
		h1{
			display: block;
			width: 100%;
			font-size: 48px;
			font-weight: 700;
			// line-height: 85px;
		}
		h2{
			display: block;
			width: 100%;
			font-size: 36px;
			font-weight: 700;
			// line-height: 65px;
			text-align: right;
		}
	}
	.school_info{
		background: rgba(255, 255, 255, 0.9);
		padding: 16px 38px 38px;
		li{
			display: flex;
			align-items: center;
			line-height: 26px;
		}
		li::before{
			content: attr(data-text);
			flex: none;
			align-self: flex-start;
		}
		li+li{
			margin-top: 25px;
		}

		@include w1024px{
			li+li{
				margin-top: 15px;
			}
		}
		li:last-child{
			text-align: right;
		}

		@include w1024px{
			padding: 15px 20px;
		}
	}
	.school_third_menu{
		display: none;
	}

	&_phone,
	&_add{
		position: relative;
		&::before{
			content: attr(data-text);
		}
	}
	@include w1440px{
		.school_txt_box {
			h1{
				font-size: 32px;
			}
			h2{
				font-size: 24px;
			}
		}
	}

	@include w1024px{
		.school_txt_box {
			max-width: 370px;
		}
	}
	@include w768px{
		.info_box{
			padding: 0;
		}
		&_name{
			margin-bottom: 0;
			li{
				width: 100%;
				border-right: none;
				text-align: center;
				border-bottom: 1px solid #C4C4C4;
				margin: 0;
				padding: 0;
			}
			span{
				display: inline-block;
				padding: 11px 0;
			}
			span:after{
				transform: rotate(90deg);
			}
			// span.active:after{
			// 	transform: rotate(180deg);
			// }
		}
		.school_int{
			display: none;
		}
		.school_second_menu{
			position: relative;
			top: auto;
			span{
				padding: 10px 0 ;
				font-size: 20px;
				font-weight: 700;
			}
			span:after{
				content:'';
			}
		}
		.school_third_menu{
			li:first-child{
				background: $primary_color;
				display: flex;
				padding: 10px 32px;
				align-items: flex-end;
				justify-content: center;
				h1{
					font-size: 30px;
				}
				h2{
					font-size: 20px;
					margin-left: 50px;
				}
			}
			li:nth-child(2){
				padding: 0;
			}
			li:nth-child(3){
				padding: 14px 32px 30px;
				background: url("../../images/school/bg_school.jpg") no-repeat right bottom/cover;
				color: #2C2C2C;
				display: flex;
				flex-wrap: wrap;
				div{
					width: 100%;
					text-align: left;
				}
				div::before{
					content: attr(data-text);
					flex: none;
					align-self: flex-start;
				}
			}

		}
	}
}
.video{
	width: 100%;
	height: calc(100vh - 70px);
	@include w768px{
		height: auto;
	}
	.title::before{
		background-image: url('../../images/icon_video.png');
	}
	.info_box{
		height: 100%;
		background: url('../../images/video/bg_video.jpg')no-repeat center/cover;
		padding-left: 15px;
		padding-right: 15px;
		@include w768px{
			padding-bottom: 25px;
		}
	}
	&_box{
		width: 100%;
		max-width: 990px;
		height: calc(100% - 80px - 110px);
		margin: auto;
		overflow: hidden;
	}
	&_group{
		position: relative;
		display: flex;
		transition-duration: .3s;
		@include w768px{
			overflow-x: auto;
		}
	}
	&_item{
		position: relative;
		flex: none;
		width: 100%;
		@include w768px{
			width: 85%;
		}
	}
	&_play{
		position: relative;
		width: 100%;
		padding-bottom: calc(85% * .56);
		>iframe{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 90%;
			height: 100%;
		}
	}
	&_title{
		text-align: center;
		min-height: 45px;
		margin-bottom: 25px;
	}

	@include w768px{
		.video_menu{
			display: none;
		}
	}
}
.news{
	.title::before{
		background-image: url('../../images/icon_news.png');
	}
	.info_box{
		background:
		url('../../images/bg_news.png')no-repeat center center/cover;
		padding-left: 15px;
		padding-right: 15px;
	}
	.news_box{
		width: 100%;
		max-width: 976px;
		margin: 0 auto 40px;
		li+li{
			margin-top: 20px;
		}
	}
	.news_date{
		color: $primary_color;
		font-weight: bold;
		font-size: 24px;
		margin-right: 20px;
	}
	.news_info{
		border-bottom:1px solid #000;
	}
	@include w768px{
		.news_box{
			li{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				line-height: 40px;
			}

			li+li{
				margin-top: 26px;
			}
		}

		.news_date{
			display: block;
			width: 100%;
			text-align: center;
			margin-bottom: 4px;
			margin-right: 0;
		}
	}
}
.about{
	background: url('../../images/bg_about.jpg')no-repeat center/cover,
	linear-gradient(180deg, rgba(0, 0, 0, 0.320899) 0%, rgba(0, 0, 0, 0.244022) 100%);
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	.title::before{
		background-image: url('../../images/icon_about.png');
	}
	.info_box{
		width: 60%;
		padding-top: 40px;
	}
	.pic{
		position: relative;
		width: 35%;
		max-width: 560px;
		margin-left: 25px;
		img{
			position: absolute;
			bottom: 0;
		}
	}
	.about_txt{
		position: relative;
		width: 100%;
		padding: 32px 38px;
		background: rgba(255, 255, 255, 0.8);

		li{
			line-height: 40px;
		}
	}
	.about_blod{
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	.text_indent{
		text-indent: 45px;
	}

	@include w1024px{
		justify-content: center;
		.info_box{
			width: 100%;
			padding-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;
		}
		.pic{
			width: 50%;
			img{
				position: relative;
			}
		}
		.about_txt{
			background: transparent;
		}
	}
	@include w768px{
		.about_blod{
			display: block;
		}
	}
}
.edu_link{
	background: #E7E7E7;
	.title::before{
		background-image: url('../../images/icon_edu.png');
	}
	.info_box{
		padding-left: 15px;
		padding-right: 15px;
	}
	.edu_group{
		width: 100%;
		max-width: 1110px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li{
			width: calc(100% / 3 - 30px);
			height: 85px;
			margin-bottom: 30px;
			text-align: center;
			line-height: 85px;
			border-radius: 10px;
		}
	}
	@include w768px{
		.edu_group{
			justify-content: center;
			li{
				width: 100%;
				max-width: 318px;
			}
		}
	}
}
.footer {
	width: 100%;
	background: linear-gradient(106.56deg, #7D4A17 0%, #C68236 100%);
	padding: 40px 80px;
	@include w1440px{
		padding: 40px 10px;
	}
	color: #fff;
	font-size: 16px;
	.info_box{
		padding-top: 0;
		@include w768px{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.school_group{
		display: flex;
		justify-content: space-around;
		@include w768px{
			display: inline-flex;
			flex-direction: column;
		}
		&>div{
			width: 100%;
			@include w768px{
				display: inline-block;
				width: auto;
				white-space: nowrap;
			}
		}
		ul{
			width: 99%;
		}
		li{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			line-height: 1;
			@include w768px{
				display: block;
				line-height: 38px;
			}
		}
		li+li{
			margin-top: 15px;
		}
		.name{
			display: block;
			width: 40%;
			text-align: left;
		}
		.phone{
			display: block;
			width: 20%;
		}
		.address{
			display: block;
			width: 40%;
		}
	}
	.copyright{
		margin-top: 60px;
		text-align: center;
	}
	@include w1024px{
		padding: 40px 25px;
		font-size: 14px;
	}
}

.alert_mask{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.7);
	z-index: 10;
	.alert{
		position: relative;
		width: 100%;
		height: 100%;
		max-width: 1100px;
		max-height: 824px;
		background:#fff  url('../../images/bg_news.png')no-repeat right bottom /200%;
		overflow: hidden;
		padding: 35px;

		&_title{
			text-align: left;
			font-size: 48px;
			color:#FFB057;
			font-weight: bold;
			margin-bottom: 30px;
			@include w768px{
				font-size: 30px;
			}
		}
		&_content{
			height: calc(100% - 108px);
			overflow-x: hidden;
			overflow-y: auto;
			.msg{
				font-size: 24px;
				color: #2C2C2C;
				line-height: 38px;
				margin-bottom: 30px;
				@include w768px{
					font-size: 20px;
				}
			}
			.pic{
				width: 60%;
				@include w768px{
					width: 100%;
				}
			}
		}
	}
	.close{
		position: absolute;
		width: 60px;
		height: 60px;
		background: #FFB057;
		top: 20px;
		right: 35px;
		@include w768px{
			width: 45px;
			height: 45px;
		}
		&::before,
		&::after{
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			display: block;
			width: 80%;
			height: 2px;
			background: #fff;
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
	}
}