.aaa .active_item {
  visibility: hidden;
  opacity: 0;
}

.aaa.active > .active_item,
.aaa.active ~ .active_item {
  visibility: visible;
  opacity: 1;
}

@-webkit-keyframes scroll {
  0%, 20%, 53%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

@keyframes scroll {
  0%, 20%, 53%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

.word_orange {
  color: #EF7E00;
}

.jc_start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.unscroll {
  overflow: hidden;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 20px;
  overflow: hidden;
}

.mod_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mod_dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #FFB057;
  margin: 0 5px;
  line-height: 1;
}

.mod_dots .on {
  background: #FFB057;
}

.scroll_menu {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 110px;
  background: #FFB057;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 1280px) {
  .scroll_menu {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .scroll_menu {
    display: none;
  }
}

.scroll_menu_box {
  width: 100%;
  overflow: hidden;
}

.scroll_menu_box ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.scroll_menu_box li {
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 80px;
  height: 80px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.scroll_menu_box li > img {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.scroll_menu_box li.on span {
  background: rgba(0, 0, 0, 0);
}

.scroll_menu_box span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.scroll_menu._video {
  background: #1E8E57;
}

.scroll_menu._video li {
  width: 110px;
  height: 62px;
  margin: 0 6.25px;
}

@media screen and (max-width: 1280px) {
  .scroll_menu._video li {
    margin: 0 3px;
  }
}

.prev_btn {
  display: none;
  width: 15px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  left: 20px;
  background: url("../../images/icon_prev.svg") no-repeat center/cover;
}

.next_btn {
  display: none;
  width: 15px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  right: 20px;
  background: url("../../images/icon_next.svg") no-repeat center/cover;
}

@media screen and (max-width: 768px) {
  .br_768 {
    display: block;
  }
}

.info_box {
  width: 100%;
  height: 100%;
  padding-top: 25px;
}

.news .info_box {
  padding-top: 80px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .news .info_box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.about .info_box {
  padding-left: 130px;
  padding-bottom: 70px;
}

@media screen and (max-width: 1440px) {
  .about .info_box {
    padding-left: 60px;
  }
}

.school .info_box {
  padding-bottom: 70px;
}

.edu_link .info_box {
  padding-top: 70px;
  padding-bottom: 70px;
}

.orange_gradient_bg {
  background: -webkit-gradient(linear, left top, right top, color-stop(14.58%, #EF7E00), to(#FFC07A));
  background: linear-gradient(90deg, #EF7E00 14.58%, #FFC07A 100%);
}

.brown_gradient_bg {
  background: -webkit-gradient(linear, left top, right top, color-stop(14.58%, #7D4A17), to(#C68236));
  background: linear-gradient(90deg, #7D4A17 14.58%, #C68236 100%);
}

.green_gradient_bg {
  background: -webkit-gradient(linear, left top, right top, color-stop(40.1%, #1E8E57), to(#A7D395));
  background: linear-gradient(90deg, #1E8E57 40.1%, #A7D395 100%);
}

.title {
  position: relative;
  width: 100%;
  height: 80px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 45px;
  font-weight: bold;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.title:before {
  content: '';
  width: 44px;
  height: 44px;
  margin-right: 8px;
  background: url("../../images/icon_flyer.png") no-repeat center/cover;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #fff;
  z-index: 10;
}

.header .logo {
  position: relative;
  width: 185px;
  height: 50px;
  background: url("../../images/logo.png") no-repeat center/contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.header .logo a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header .menu_btn {
  display: none;
  position: relative;
  width: 50px;
  height: 40px;
}

.header .menu_btn::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background: #000;
  -webkit-box-shadow: 0 19px 0 #000;
          box-shadow: 0 19px 0 #000;
  border-radius: 50px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.header .active.menu_btn::before {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
  margin: auto;
}

.header .menu_btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 50px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.header .active.menu_btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  margin: auto;
}

.header .menu {
  height: 100%;
  line-height: 90px;
}

.header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  height: 100%;
}

.header .menu li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #2C2C2C;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.header .menu li::before,
.header .menu li::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background: #EF7E00;
  top: 73%;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.header .menu li::before {
  left: 50%;
}

.header .menu li::after {
  right: 50%;
}

.header .menu li:hover {
  color: #EF7E00;
  cursor: pointer;
}

.header .menu li:hover::before,
.header .menu li:hover::after {
  width: 0;
}

.header .menu li + li {
  margin-left: 60px;
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 0 25px;
  }
  .header .menu li {
    font-size: 16px;
  }
  .header .menu li + li {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .header .menu {
    width: 100%;
    height: 100vh;
    max-width: 375px;
    position: absolute;
    background: #EF7E00;
    z-index: 2;
    right: -100%;
    top: 70px;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
  }
  .header .active + .menu {
    right: 0;
  }
  .header .menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .menu li {
    width: 100%;
    color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .menu li:hover {
    color: #fff;
  }
  .header .menu li + li {
    margin-left: 0;
  }
  .header .menu_btn {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header .logo {
    width: 85px;
    height: 30px;
  }
  .header .menu_btn {
    width: 25px;
    height: 25px;
  }
  .header .menu_btn:before {
    height: 2px;
    -webkit-box-shadow: 0 12px 0 #000;
            box-shadow: 0 12px 0 #000;
  }
  .header .menu_btn:after {
    height: 2px;
  }
}

.scroll_box {
  width: 100%;
  height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.banner {
  position: relative;
  width: 100%;
  height: calc( 100vh - 70px);
  background: url("../../images/banner_bg.jpg") no-repeat center/cover;
}

.banner .banner_info {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 170px;
}

.banner .banner_info .pic {
  width: 25%;
  max-width: 315px;
}

.banner .banner_txt .p1 {
  color: #3E3A39;
}

.banner .banner_txt .p1,
.banner .banner_txt .s1 {
  font-size: 56px;
  font-weight: 700;
}

.banner .banner_txt .s2 {
  font-size: 112px;
  font-weight: 700;
  color: #EF7E00;
  margin-left: 5px;
}

.banner .banner_txt .p2 {
  font-size: 36px;
  color: #867976;
  letter-spacing: 0.16em;
  margin-top: 5px;
}

.banner .banner_scoll {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 20%;
  left: 0;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  letter-spacing: 2px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  cursor: default;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-hight-contrast: active), (-ms-high-contrast: none) {
  .banner .banner_scoll:hover {
    -webkit-animation-name: scroll;
            animation-name: scroll;
  }
}

.banner .banner_scoll::after {
  content: '';
  display: block;
  width: 35px;
  height: 21px;
  background: url("../../images/icon_down_w.svg") no-repeat center/contain;
  margin: 20px auto 0;
}

@media screen and (max-width: 1440px) {
  .banner .banner_info .pic {
    width: 38%;
  }
  .banner .banner_txt .p1,
  .banner .banner_txt .s1 {
    font-size: 50px;
  }
  .banner .banner_txt .p2 {
    font-size: 34px;
  }
}

@media screen and (max-width: 1024px) {
  .banner .banner_info {
    left: 50px;
  }
  .banner .banner_txt .p1,
  .banner .banner_txt .s1 {
    font-size: 40px;
  }
  .banner .banner_txt .s2 {
    font-size: 90px;
  }
  .banner .banner_txt .p2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .banner .banner_info {
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .banner .banner_info .pic {
    margin: auto;
    width: 230px;
  }
  .banner .banner_txt {
    text-align: center;
  }
  .banner .banner_txt .p1 {
    margin-top: 22px;
  }
  .banner .banner_txt .p2 {
    display: inline-block;
    margin-top: 30px;
    text-align: left;
  }
  .banner .banner_txt .br_768 {
    margin-top: 10px;
  }
  .banner .banner_scoll {
    bottom: 30%;
  }
}

.date_block {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12.5%, rgba(255, 255, 255, 0.72)), color-stop(34.69%, rgba(255, 255, 255, 0.9)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 12.5%, rgba(255, 255, 255, 0.9) 34.69%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.date_block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 50px;
}

.date_block li {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.date_block .br {
  font-size: 0;
}

.date_block .br tt {
  display: block;
  font-size: 20px;
}

.date_block .icon_clock::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: url("../../images/icon_clock.svg") no-repeat center/cover;
  margin-right: 15px;
}

.date_block .date_num {
  color: #EF7E00;
  font-size: 50px;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.date_block .date_num::after {
  content: attr(data-text);
  font-size: 20px;
  color: #000;
  margin-left: 10px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1440px) {
  .date_block ul {
    padding: 0 35px;
  }
}

@media screen and (max-width: 1280px) {
  .date_block li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .date_block .date_num {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .date_block .br tt {
    display: inline-block;
  }
  .date_block .icon_clock::before {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .date_block ul {
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .date_block ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 15px;
  }
  .date_block li {
    width: calc(100% / 3);
    margin-top: 15px;
    font-size: 12px;
  }
  .date_block .icon_clock:before {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }
  .date_block .date_num {
    font-size: 28px;
    line-height: 40px;
  }
  .date_block .date_num:after {
    font-size: 12px;
    line-height: 2;
  }
  .date_block .br tt {
    font-size: 12px;
  }
}

.flyer {
  width: 100%;
  height: calc(100vh - 70px);
  background: url("../../images/flyer/bg_flyer.png") no-repeat right bottom/contain, -webkit-gradient(linear, left top, right top, color-stop(-2.34%, #FFF3E6), color-stop(50.96%, #FFFFFF), color-stop(98.93%, #FFFFFF));
  background: url("../../images/flyer/bg_flyer.png") no-repeat right bottom/contain, linear-gradient(90deg, #FFF3E6 -2.34%, #FFFFFF 50.96%, #FFFFFF 98.93%);
}

.flyer .info_box {
  padding-left: 15px;
  padding-right: 15px;
}

.flyer .flyer_box {
  max-width: 510px;
  height: calc(100% - 80px - 110px);
  overflow: hidden;
  margin: auto;
}

.flyer .flyer_group {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.flyer .flyer_item.on {
  display: block;
}

.flyer .flyer_pic {
  height: calc( 100% - 70px);
  text-align: center;
}

.flyer img {
  width: auto;
  height: 100%;
}

.flyer .flyer_txt {
  width: 100%;
  max-width: 480px;
  height: 25px;
  font-size: 24px;
  text-align: center;
  font-weight: 500px;
  margin: 0 auto 20px;
}

.flyer .mod_dots {
  display: none;
}

@media screen and (max-width: 768px) {
  .flyer .info_box {
    padding: 25px 0 0 0;
  }
  .flyer .flyer_box {
    max-width: none;
    height: calc(100% - 80px - 70px);
  }
  .flyer .flyer_group {
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flyer .flyer_item {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    height: 100%;
    margin: 0 15px;
  }
  .flyer .flyer_item .flyer_pic {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .flyer .flyer_item.active .flyer_pic {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
  }
  .flyer .mod_dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .flyer img {
    height: 100%;
  }
}

.leaderboard {
  width: 100%;
  background: url("../../images/leaderboard/bg_leaderboard_l.png") no-repeat center left/contain, url("../../images/leaderboard/bg_leaderboard_r.png") no-repeat center right/contain;
}

.leaderboard .title::before {
  background-image: url("../../images/icon_leaderboard.png");
}

.leaderboard .leaderboard_box {
  width: 100%;
  max-width: 1430px;
  overflow: hidden;
  margin: auto;
  padding-bottom: 40px;
}

.leaderboard .leaderboard_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.leaderboard .leaderboard_pic li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(100% / 5 - 60px);
  margin: 0 30px;
}

@media screen and (max-width: 768px) {
  .leaderboard {
    background-size: cover;
  }
  .leaderboard .leaderboard_box ul {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .leaderboard .leaderboard_box li {
    width: 40%;
    margin: 0 0 0 14px;
  }
  .leaderboard .mod_dots {
    display: none;
  }
}

.school {
  overflow: hidden;
  width: 100%;
  background: url("../../images/school/bg_school.jpg") no-repeat right bottom/contain;
}

.school .title::before {
  background-image: url("../../images/icon_school.png");
}

.school .info_box {
  padding-top: 40px;
  padding-left: 130px;
  padding-right: 130px;
}

@media screen and (max-width: 1440px) {
  .school .info_box {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.school_menu {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .school_menu {
    margin-bottom: 0;
  }
}

.school_menu > li {
  position: relative;
  padding: 2px 75px 2px 35px;
  font-size: 20px;
  font-weight: 700;
  border-right: 2px solid #C4C4C4;
  white-space: nowrap;
}

.school_menu > li:last-child {
  border-right: none;
}

@media screen and (max-width: 1280px) {
  .school_menu > li {
    width: calc(100% / 3 - 50px);
    margin: 10px;
  }
  .school_menu > li:nth-child(3) {
    border-right: none;
  }
}

@media screen and (max-width: 1024px) {
  .school_menu > li {
    padding: 2px 40px 2px 20px;
  }
}

.school_menu_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.school_menu_first > li {
  position: relative;
  padding: 2px 75px 2px 35px;
  border-right: 2px solid #C4C4C4;
  white-space: nowrap;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .school_menu_first > li {
    width: calc(100% / 3 - 50px);
    margin: 10px;
    padding: 2px 40px 2px 20px;
    text-align: center;
  }
  .school_menu_first > li:nth-child(3) {
    border-right: none;
  }
}

@media screen and (max-width: 768px) {
  .school_menu_first > li {
    width: 100%;
    border-right: none;
    text-align: center;
    border-bottom: 1px solid #C4C4C4;
    margin: 0;
    padding: 0;
  }
}

.school_menu_first > li:last-child {
  border-right: none;
}

.school_menu_first > li > span {
  position: relative;
}

@media screen and (max-width: 768px) {
  .school_menu_first > li > span {
    display: inline-block;
    padding: 11px 0;
  }
}

.school_menu_first > li > span:after {
  content: '\25BA';
  position: absolute;
  left: calc(100% + 10px);
  width: 18px;
  height: 18px;
  font-size: 16px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: #FFB057;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.school_menu_first > li > span.active:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.school_menu_second {
  position: absolute;
  width: 100%;
  top: calc(100% + 5px);
  left: 0;
  background: rgba(44, 44, 44, 0.7);
  z-index: 1;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  opacity: 0;
  visibility: collapse;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1);
  transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .school_menu_second {
    position: relative;
    top: 0;
  }
}

.school_menu_second > li {
  width: 100%;
  border: none;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .school_menu_second > li {
    height: 0;
    opacity: 0;
    visibility: collapse;
    padding: 0;
  }
}

.school_menu_second > li > span {
  padding: 10px 0;
  display: block;
  width: 100%;
}

.active ~ .school_menu_second {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  visibility: visible;
}

.active ~ .school_menu_second > li {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.school_menu_third > li {
  height: 0;
  opacity: 0;
  visibility: collapse;
  padding: 0;
  -webkit-transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1);
  transition: all 300ms cubic-bezier(0.55, 0, 0.42, 1);
}

.school_menu_third > li:last-child {
  text-align: left;
  width: 100%;
  color: #2C2C2C;
  background: url("../../images/school/bg_school.jpg") no-repeat right bottom/cover;
}

.school_menu_third > li:last-child div:last-child {
  text-align: right;
}

.school_menu_third .department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #EF7E00;
  padding: 25px 30px;
  font-size: 30px;
  font-weight: bold;
}

.school_menu_third .department:after {
  content: attr(data-dep);
  font-size: 20px;
  margin-left: 70px;
}

@media screen and (max-width: 768px) {
  .active ~ .school_menu_third > li {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  .active ~ .school_menu_third > li:last-child {
    padding: 14px 30px 30px;
  }
  .active ~ .school_menu_third > li:last-child div {
    margin-top: 20px;
  }
}

.school_int {
  position: relative;
}

.school_pic {
  position: relative;
  padding-bottom: calc(75% * 0.56);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  opacity: 0;
}

.active .school_pic {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .school_pic {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.school_pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.school_txt_box {
  position: absolute;
  max-width: 535px;
  right: 0;
  bottom: -5%;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  opacity: 0;
}

.active .school_txt_box {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .school_txt_box {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.school_txt_box .school_txt {
  color: #fff;
  height: auto;
  background: rgba(239, 126, 0, 0.7);
  display: block;
  padding: 20px 40px;
}

@media screen and (max-width: 1024px) {
  .school_txt_box .school_txt {
    padding: 15px 20px;
  }
}

.school_txt_box h1 {
  display: block;
  width: 100%;
  font-size: 48px;
  font-weight: 700;
}

.school_txt_box h2 {
  display: block;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  text-align: right;
}

.school .school_info {
  background: rgba(255, 255, 255, 0.9);
  padding: 16px 38px 38px;
}

.school .school_info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 26px;
}

.school .school_info li::before {
  content: attr(data-text);
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.school .school_info li + li {
  margin-top: 25px;
}

@media screen and (max-width: 1024px) {
  .school .school_info li + li {
    margin-top: 15px;
  }
}

.school .school_info li:last-child {
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .school .school_info {
    padding: 15px 20px;
  }
}

.school .school_third_menu {
  display: none;
}

.school_phone, .school_add {
  position: relative;
}

.school_phone::before, .school_add::before {
  content: attr(data-text);
}

@media screen and (max-width: 1440px) {
  .school .school_txt_box h1 {
    font-size: 32px;
  }
  .school .school_txt_box h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .school .school_txt_box {
    max-width: 370px;
  }
}

@media screen and (max-width: 768px) {
  .school .info_box {
    padding: 0;
  }
  .school_name {
    margin-bottom: 0;
  }
  .school_name li {
    width: 100%;
    border-right: none;
    text-align: center;
    border-bottom: 1px solid #C4C4C4;
    margin: 0;
    padding: 0;
  }
  .school_name span {
    display: inline-block;
    padding: 11px 0;
  }
  .school_name span:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .school .school_int {
    display: none;
  }
  .school .school_second_menu {
    position: relative;
    top: auto;
  }
  .school .school_second_menu span {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
  }
  .school .school_second_menu span:after {
    content: '';
  }
  .school .school_third_menu li:first-child {
    background: #EF7E00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 32px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .school .school_third_menu li:first-child h1 {
    font-size: 30px;
  }
  .school .school_third_menu li:first-child h2 {
    font-size: 20px;
    margin-left: 50px;
  }
  .school .school_third_menu li:nth-child(2) {
    padding: 0;
  }
  .school .school_third_menu li:nth-child(3) {
    padding: 14px 32px 30px;
    background: url("../../images/school/bg_school.jpg") no-repeat right bottom/cover;
    color: #2C2C2C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .school .school_third_menu li:nth-child(3) div {
    width: 100%;
    text-align: left;
  }
  .school .school_third_menu li:nth-child(3) div::before {
    content: attr(data-text);
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.video {
  width: 100%;
  height: calc(100vh - 70px);
}

@media screen and (max-width: 768px) {
  .video {
    height: auto;
  }
}

.video .title::before {
  background-image: url("../../images/icon_video.png");
}

.video .info_box {
  height: 100%;
  background: url("../../images/video/bg_video.jpg") no-repeat center/cover;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .video .info_box {
    padding-bottom: 25px;
  }
}

.video_box {
  width: 100%;
  max-width: 990px;
  height: calc(100% - 80px - 110px);
  margin: auto;
  overflow: hidden;
}

.video_group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

@media screen and (max-width: 768px) {
  .video_group {
    overflow-x: auto;
  }
}

.video_item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .video_item {
    width: auto;
    margin-right: 10px;
  }
}

.video_play {
  position: relative;
  width: 900px;
  height: 470px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .video_play {
    width: 590px;
    height: 350px;
  }
}

.video_play > iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.video_title {
  text-align: center;
  min-height: 45px;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .video .video_menu {
    display: none;
  }
}

.news .title::before {
  background-image: url("../../images/icon_news.png");
}

.news .info_box {
  background: url("../../images/bg_news.png") no-repeat center center/cover;
  padding-left: 15px;
  padding-right: 15px;
}

.news .news_box {
  width: 100%;
  max-width: 976px;
  margin: 0 auto 40px;
}

.news .news_box li + li {
  margin-top: 20px;
}

.news .news_date {
  color: #EF7E00;
  font-weight: bold;
  font-size: 24px;
  margin-right: 20px;
}

.news .news_info {
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .news .news_box li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 40px;
  }
  .news .news_box li + li {
    margin-top: 26px;
  }
  .news .news_date {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 4px;
    margin-right: 0;
  }
}

.about {
  background: url("../../images/bg_about.jpg") no-repeat center/cover, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.320899)), to(rgba(0, 0, 0, 0.244022)));
  background: url("../../images/bg_about.jpg") no-repeat center/cover, linear-gradient(180deg, rgba(0, 0, 0, 0.320899) 0%, rgba(0, 0, 0, 0.244022) 100%);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .title::before {
  background-image: url("../../images/icon_about.png");
}

.about .info_box {
  width: 60%;
  padding-top: 40px;
}

.about .pic {
  position: relative;
  width: 35%;
  max-width: 560px;
  margin-left: 25px;
}

.about .pic img {
  position: absolute;
  bottom: 0;
}

.about .about_txt {
  position: relative;
  width: 100%;
  padding: 32px 38px;
  background: rgba(255, 255, 255, 0.8);
}

.about .about_txt li {
  line-height: 40px;
}

.about .about_blod {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.about .text_indent {
  text-indent: 45px;
}

@media screen and (max-width: 1024px) {
  .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .info_box {
    width: 100%;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about .pic {
    width: 50%;
  }
  .about .pic img {
    position: relative;
  }
  .about .about_txt {
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  .about .about_blod {
    display: block;
  }
}

.edu_link {
  background: #E7E7E7;
}

.edu_link .title::before {
  background-image: url("../../images/icon_edu.png");
}

.edu_link .info_box {
  padding-left: 15px;
  padding-right: 15px;
}

.edu_link .edu_group {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edu_link .edu_group li {
  width: calc(100% / 3 - 30px);
  height: 85px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 85px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .edu_link .edu_group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .edu_link .edu_group li {
    width: 100%;
    max-width: 318px;
  }
}

.footer {
  width: 100%;
  background: linear-gradient(106.56deg, #7D4A17 0%, #C68236 100%);
  padding: 40px 80px;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 1440px) {
  .footer {
    padding: 40px 10px;
  }
}

.footer .info_box {
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .footer .info_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .school_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .footer .school_group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .school_group > div {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer .school_group > div {
    display: inline-block;
    width: auto;
    white-space: nowrap;
  }
}

.footer .school_group ul {
  width: 99%;
}

.footer .school_group li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .footer .school_group li {
    display: block;
    line-height: 38px;
  }
}

.footer .school_group li + li {
  margin-top: 15px;
}

.footer .school_group .name {
  display: block;
  width: 40%;
  text-align: left;
}

.footer .school_group .phone {
  display: block;
  width: 20%;
}

.footer .school_group .address {
  display: block;
  width: 40%;
}

.footer .copyright {
  margin-top: 60px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 40px 25px;
    font-size: 14px;
  }
}

.alert_mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.alert_mask .alert {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  max-height: 824px;
  background: #fff url("../../images/bg_news.png") no-repeat right bottom/200%;
  overflow: hidden;
  padding: 35px;
}

.alert_mask .alert_title {
  text-align: left;
  font-size: 48px;
  color: #FFB057;
  font-weight: bold;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .alert_mask .alert_title {
    font-size: 30px;
  }
}

.alert_mask .alert_content {
  height: calc(100% - 108px);
  overflow-x: hidden;
  overflow-y: auto;
}

.alert_mask .alert_content .msg {
  font-size: 24px;
  color: #2C2C2C;
  line-height: 38px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .alert_mask .alert_content .msg {
    font-size: 20px;
  }
}

.alert_mask .alert_content .pic {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .alert_mask .alert_content .pic {
    width: 100%;
  }
}

.alert_mask .close {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #FFB057;
  top: 20px;
  right: 35px;
}

@media screen and (max-width: 768px) {
  .alert_mask .close {
    width: 45px;
    height: 45px;
  }
}

.alert_mask .close::before, .alert_mask .close::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 80%;
  height: 2px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.alert_mask .close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=all.css.map */